@{
    ViewData["Title"] = "Startsida";
}

<h1>@ViewData["Title"]</h1>

<!-- Skriver ut välkomstmeddelandet från ViewBag -->
<p>@ViewBag.Welcome</p>

<!-- Inkluderar en partial view och skickar med den totala träningstiden som data -->
@await Html.PartialAsync("_TotalWorkoutTimePartial", ViewData["TotalWorkoutTime"])